<article>
    <div class="section-title">
        <div>
            <h1>Nossa ferramenta de <span style="color: var(--light-green)">personalização!</span></h1>
        </div>
    </div>
    <div class="section-title">
        <video class="video-section" controls>
            <source src="videos/NeverGonna.mp4" type="video/mp4">
        </video>
        <div class="section-video-text">
            <div>
                <span>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</span>
            </div>
        </div>
    </div>
  
</article>