<article>
    <div class="section-title">
        <div>
            <h1>Nossa ferramenta de <span style="color: var(--light-green)">personalização!</span></h1>
        </div>
    </div>
    <div class="section-title">
        <video class="video-section" controls>
            <source src="videos/NeverGonna.mp4" type="video/mp4">
        </video>
        <div class="section-video-text">
            <div>
                <span>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</span>
            </div>
        </div>
    </div>
    <div class="section-title" style="padding-top: 80px;">
        <div class="section-faq-word">
            <h1>FAQ</h1>
        </div>

        <div class="section-faqs" style="padding-bottom: 80px;">
            <mat-accordion class="section-faqs-faq">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="section-faqs-faq-header">
                      <mat-panel-title> Self aware panel </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
               </mat-expansion-panel>
           </mat-accordion>

           <mat-accordion class="section-faqs-faq">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="section-faqs-faq-header">
                    <mat-panel-title> Self aware panel </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="section-faqs-faq">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="section-faqs-faq-header">
                    <mat-panel-title> Self aware panel </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="section-faqs-faq">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="section-faqs-faq-header">
                    <mat-panel-title> Self aware panel </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>

           
        </div>
    </div>
</article>