article {
  gap: 50px;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.section-title div h1 {
  font-size: 2.3rem;
}

.section-video-text {
  width: 65%;
}

.section-video-text div span {
  font-size: 1.25rem;
}

.video-section {
  width: 65%;

  margin-bottom: 10px;
}

.section-faqs {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.section-faqs-faq {
  width: 80%;
  max-width: 700px;

  background-color: transparent;
  box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.25);;
  border-radius: 5px;

  text-align: center;
  color: var(--principal-color);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-faqs-faq-header {
  height: 50px;
}


@media (max-width: 910px) {
  .video-section {
    width: 100%;
  }

  .section-video-text {
    width: 90%;
    text-align: justify;
  }
}

@media (max-width: 620px) {

}

@media (max-width: 360px) {


}


