<article>
  <h2 mat-dialog-title>Edite o calendario</h2>
  <mat-dialog-content class="mat-form">
    <form [formGroup]="formEditSelectServiceAndProfessional" (ngSubmit)="submitForm()">
      <label>
        <span>Alinhamento Horizontal:</span>
        <mat-form-field appearance="outline">
          <mat-label>Centro</mat-label>
          <mat-select formControlName="horizontalAlignment">
            <mat-option value="center">Centro</mat-option>
            <mat-option value="start">Começo</mat-option>
            <mat-option value="end">Final</mat-option>
          </mat-select>
        </mat-form-field>
      </label>
      <button type="submit" mat-button>Salvar</button>
    </form>
  </mat-dialog-content>
</article>

