<div class="container-form">
    <form>
      <label for="email">
        E-mail
        <input type="text" id="email" formControlName="email" required>
      </label>
      <label for="password">
        Senha
        <input type="password" id="password" formControlName="password" required>
      </label>
      <div>
        <button type="submit" class="button-login administration">Administração</button>
       <button type="submit" class="button-login portal-client">Portal cliente</button>
      </div>
    </form>
    <div class="container-form__help">
      <span>Ainda não tem conta? <a href="" style="color: var(--secundary-color)">Cadastra-se</a></span>
    </div>
  </div>
  
