<div class="container-form">
  <form (ngSubmit)="submitFormLogin($event)" [formGroup]="loginForm">
    <label for="email">
      E-mail
      <input formControlName="email" formControlName="email" id="email" required type="text">
      <div *ngIf="email?.invalid && email?.dirty"
           class="alert-danger">
        <div *ngIf="email?.hasError('required')">
          <span>*Email deve ser preenchido.</span>
        </div>
        <div *ngIf="email?.hasError('email')">
          <span>*Email incorreto</span>
        </div>
      </div>
    </label>
    <label for="password">
      Senha
      <input formControlName="password" formControlName="password" id="password" required type="password">
    </label>
    <div>
      <button class="button-login administration" name="action" type="submit" value="administration">Administração
      </button>
      <button class="button-login portal-client" name="action" type="submit" value="portal-client">Portal cliente
      </button>
    </div>
  </form>
  <div class="container-form__help">
    <span>Ainda não tem conta? <a href="http://localhost:4200/register" style="color: var(--secundary-color)">Cadastra-se</a></span>
  </div>
</div>

