<section>
  <div class="visualizer">
    <div
      (cdkDropListDropped)="drop($event)"
      cdkDropList
      class="example-container"
    >
      <div
        (cdkDragStarted)="onDragStarted($event)"
        *ngFor="let component of components; let i = index"
        [ngStyle]="{'background-color': primaryColor!}"
        cdkDrag
        class="example-box"
        (click)="onClick(i)"
      >
        <div *cdkDragPlaceholder class="example-custom-placeholder"></div>
        <app-dynamic-component-container
          [component]="component.component"
          [data]="component.data"
          [ngStyle]="{'color': secundaryColor!}"
        >
        </app-dynamic-component-container>
      </div>
    </div>
  </div>
</section>
