section{
    width: 100%;
    height: 100%;
    background-color: var(--principal-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.section__image{
    width: 332px;
    height: 156px;
}

.section__image img {
    width: max-content;
    height: max-content;
}

.section-principal{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.section-principal__title{
    width: 100%;
}

.section-principal__title h1{
    color: #ffff;
}

.section-principal__inf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.section-principal__inf__contact{
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-principal__inf__contact div{
    display: flex;
    justify-content: start;
    align-items: center;
}


@media (max-width: 900px){
    .section-principal__title {
        text-align: center;
    }
    .section-principal__inf {
      flex-direction: column-reverse;
      gap: 10px;
    }
    section{
        height: 1000px;
    }
  }

  @media (max-width: 620px){
  }

  @media (max-width: 360px){
    .section__image{
    width: 232px;
    height: 96px;
    }
    .section__image img{
        width: 100%;
        height: 100%;
    }
  }
