<div class="title-page">
  <h1>Informe sobre os feriados</h1>
</div>

<div class="content">
  <app-holiday-form></app-holiday-form>
  <div class="table">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
          <td *matCellDef="let row" mat-cell> {{ row.date }}</td>
        </ng-container>

        <!-- Is Open Column -->
        <ng-container matColumnDef="isOpen">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Vai abrir?</th>
          <td *matCellDef="let row" mat-cell> {{ row.isOpen }}</td>
        </ng-container>

        <!-- Schedule Initial Column -->
        <ng-container matColumnDef="scheduleInitial">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Inicio de Expediente</th>
          <td *matCellDef="let row" mat-cell> {{ row.scheduleInitial }}</td>
        </ng-container>

        <!-- Schedule Final Column -->
        <ng-container matColumnDef="scheduleFinal">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Fim de Expediente</th>
          <td *matCellDef="let row" mat-cell> {{ row.scheduleFinal }}</td>
        </ng-container>

        <!-- Break Initial Column -->
        <ng-container matColumnDef="breakInitial">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Início de Pausa</th>
          <td *matCellDef="let row" mat-cell> {{ row.breakInitial }}</td>
        </ng-container>

        <!-- Break Final Column -->
        <ng-container matColumnDef="breakFinal">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Fim de Pausa</th>
          <td *matCellDef="let row" mat-cell> {{ row.breakFinal }}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

</div>

