<section>
    <div class="list">
        <span class="list__title">Lista de componentes</span>
        <div class="list_options">
            <ul>
                <li><button (click)="openDialog(FormInputComponent)">
                  <span>Campo de texto</span>
                  <span>{{ totalInput }}/4</span>
                </button></li>
                <li><button (click)="openDialog(PerfilFormComponent)">
                  <span>Perfil</span>
                  <span>0/1</span>
                </button></li>
                <li><button (click)="openDialog(CalendarFormComponent)">
                  <span>Calendario</span>
                  <span>0/1</span>
                </button></li>
              <li><button (click)="openDialog(PortfolioFormComponent)">
                <span>Portfolio</span>
                <span>0/1</span>
              </button></li>
                <li><button (click)="openDialog(InformationFormComponent)">
                  <span>Informação</span>
                  <span>0/1</span>
                </button></li>
                <li><button (click)="openDialog(PresentationFormComponent)">
                  <span>Apresentação</span>
                  <span>0/1</span>
                </button></li>
            </ul>
        </div>
    </div>

    <div class="colors">
      <label>
        <span>Cor primária:</span>
        <div class="colorInput">
          <input type="color" [(ngModel)]="colorPrimary">
        </div>
      </label>
    
    
      <label>
        <span>Cor secundária:</span>
        <div class="colorInput">
          <input type="color" [(ngModel)]="colorSecundary">
        </div>
      </label>
      <label>
        <span>Cor terciaria:</span>
        <div class="colorInput">
          <input type="color" [(ngModel)]="colorTerciary">
        </div>
      </label>
      <div class="button__colors">
        <button (click)="saveColors()">Salvar cores</button>
      </div>
    </div>

    <div class="warn">
        <span>
            Avisos:
            <span class="sucess">Tudo certo!</span>
        </span>
    </div>
    <div class="optionToSave">
        <div>
            <button>Salvar</button>
        </div>
        <div>
            <span>Desfazer alteraçôes</span>
        </div>
    </div>
</section>
