<section>
    <div class="list">
        <span class="list__title">Lista de componentes</span>
        <div class="list_options">
            <ul>
                <li><button (click)="openDialog(FormInputComponent)">
                  <span>Campo de texto</span>
                  <span>{{ totalInput }}/4</span>
                </button></li>
                <li><button (click)="openDialog(PerfilFormComponent)">
                  <span>Perfil</span>
                  <span>0/1</span>
                </button></li>
                <li><button (click)="openDialog(FormInputComponent)">
                  <span>Calendario</span>
                  <span>0/1</span>
                </button></li>
                <li><button (click)="openDialog(FormInputComponent)">
                  <span>Servicos e profissionais</span>
                  <span>0/1</span>
                </button></li>
            </ul>
        </div>
    </div>
    <div class="warn">
        <span>
            Avisos:
            <span class="sucess">Tudo certo!</span>
        </span>
    </div>
    <div class="optionToSave">
        <div>
            <button>Salvar</button>
        </div>
        <div>
            <span>Desfazer alteraçôes</span>
        </div>
    </div>
</section>
