<section>
    <div class="list">
        <span class="list__title">Lista de componentes</span>
        <div class="list_options">
            <ul>
                <li><button (click)="addComponent('input')">Campo de texto</button></li>
                <li><button (click)="addComponent('perfil')">Perfil</button></li>
                <li><button (click)="addComponent('calendar')">Calendario</button></li>
            </ul>
        </div>
    </div>
    <div class="warn">
        <span>
            Avisos:
            <span class="sucess">Tudo certo!</span>
        </span>
    </div>
    <div class="optionToSave">
        <div>
            <button>Salvar</button> 
        </div>
        <div>
            <span>Desfazer alteraçôes</span>
        </div>
    </div>
</section>