<div class="table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <!-- Date Column -->
      <ng-container matColumnDef="nameProfessional">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Funcionários</th>
        <td *matCellDef="let row" mat-cell> {{ row.nameProfessional }}</td>
      </ng-container>

      <!-- Is Open Column -->
      <ng-container matColumnDef="nameService">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Serviços</th>
        <td *matCellDef="let row" mat-cell> {{ row.nameService }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Ações</th>
        <td *matCellDef="let row" mat-cell>
          <button (click)="disassociateProfessional(row.idProfessional,row.idService)" class="button_disassociate">
            Desassociar
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
