<article>
  <div class="tools">
    <div class="title_tools">
      <h1>Pré visualização</h1>
      <span>Seu formulario de agendamento ficará assim!</span>
    </div>
    <div class="tools__visualizer">
      <app-pre-visualizer></app-pre-visualizer>
    </div>
  </div>
  <div class="tools" *ngIf="screenSize >= 1330">
    <div class="title_tools">
      <h1>Adicione componentes</h1>
      <span>Personalize do seu jeito.</span>
    </div>
    <div class="tools__component">
      <app-add-component class="tools__component_options"></app-add-component>
    </div>
  </div>
  <div class="andoidTools" *ngIf="screenSize <= 1330">
    <button class="androidToolsButton">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</article>

