<app-header-nav-bar></app-header-nav-bar>
<section>
    <div class="container-section">
        <div class="container-section__content">
            <span>Gerencie <span style="color: var(--light-green);">seu</span> negocio!</span>
            <ul>
                <li>Controle total</li>
                <li>Personalização</li>
                <li>Acesso somente seu!</li>
                <li>Fácil e rápido</li>
            </ul>
        </div>
        <div class="container-section__image">
            <div>
                <img src="image/gerenciaimage.png" alt="">
            </div>
        </div>
    </div>
</section>
