<article>
  <h2 mat-dialog-title>Edite o portfolio</h2>
  <mat-dialog-content class="mat-form">
    <form (ngSubmit)="submitForm()" [formGroup]="formEditPortfolio">
      <mat-form-field appearance="outline" class="inputMat">
        <mat-label>Titulo</mat-label>
        <input formControlName="text" matInput required type="text">
      </mat-form-field>
      <label>
        <span>Selecione a foto de perfil:</span>
        <input (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg" multiple type="file"/>
      </label>
      <label>
        <ul>
          <li *ngFor="let file of selectedFiles">
            {{ file.name }}
          </li>
        </ul>
      </label>
      <button mat-button type="submit">Salvar</button>
    </form>
  </mat-dialog-content>
</article>
