<footer>
    <div class="container-footer__image">
        <img src="image/logo.png" alt="logo">
    </div>
    <div class="line">
        
    </div>
    <div class="container-footer__contact">
        <h1>Suporte</h1>
        
        <div class="container-footer__contact__texts">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            <a href="">{{email}}</a>
        </div>

        <div class="container-footer__contact__texts">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
            <a href="">(19)98115-1193</a>
        </div>
    </div>
  
</footer>