section {
  display: flex;
  flex-direction: column;
  background-color: var(--principal-color);
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 60px;
}

.section-title {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: rotateY(30deg) rotateX(50deg);
  transform-origin: center center;
}

.section-title div {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(-30deg) rotateX(40deg);
  transform-origin: center center;
}

.section-title div h1 {
  color: var(--principal-color);
  font-size: 2.3rem;
}

.container-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: max-content;
  width: 100%;

  text-align: center;
}

.container-section__content span {
  font-size: 2.0rem;
  color: #fff;
}

.container-example-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 40px;
  max-height: 466px;
}

.container-example-template__card {
  width: 257px;
  min-width: 257px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 161px;
  background-color: #F9F9F9;
  box-shadow: -10px 10px 4px var(--box-shadow-color);
  border-radius: 20px;
  transition: .5s;
}

.container-example-template__card:hover {
  width: 267px;
  min-width: 267px;
  height: 171px;
  margin-bottom: 10px;
}

.container-example-template__card h1 {
  font-size: 2rem;
  color: #fff;
}

.container-example-template__card span {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 910px) {
  .container-section__content {
    width: 60%;
  }

  .section-title {
    margin-top: 60px;
    width: 90%;
  }

  .section-title div h1 {
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
  }

  .section-title div h1::after {
    content: "Crie sua conta!";
    text-indent: 0;
    display: block;
    line-height: initial; /* New content takes up original line height */
  }
}

@media (max-width: 620px) {

}

@media (max-width: 360px) {


}

