<div class="container-form">
  <form action="">
    <label for="fullName">
      Nome completo
      <input type="text" id="fullName">
    </label>
    <label for="nameEnterprise">
      <span>Nome do seu <span style="color: var(--secundary-color);">negócio</span></span>
      <input type="text" id="nameEnterprise">
    </label>
    <label for="tellEnterprise">
      <span>Telefone do seu <span style="color: var(--secundary-color);">negócio</span></span>
      <input type="text" id="tellEnterprise">
    </label>
    <label for="email">
      E-mail
      <input type="text" id="email">
    </label>
    <label for="password">
      Senha
      <input type="text" id="password">
    </label>
    <button type="submit">Cadastrar</button>
  </form>
  <div class="container-form__help">
    <span>Já tem uma conta? <a href="" style="color: var(--secundary-color)">Login</a></span>
  </div>
</div>

