.container-form{
  display: flex;
  box-shadow: 5px 5px 10px var(--secundary-color);
  border-radius: 20px;
  flex-direction: column;
  padding: 25px 25px 10px;
  min-width: 360px;
  gap: 15px;
  border: 2px solid #2536A6;
}

.container-form form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-form form label{
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.container-form form label input{
  width: 100%;
  border-radius: 6px;
  height: 33px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  outline: none;
}

.container-form form button{
  width: 100%;
  height: 40px;
  border: none;
  color: var(--principal-color);
  font-size: 20px;
  background-color: var(--secundary-color);
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.container-form__help{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-form__help span{
  font-size: 14px;
  color: #ffff;
}

.alert-danger{
  width: 100%;
  float: right;
}

.alert-danger div span{
  float: right;
  color: #b20000;
  font-size: 13px;
  max-width: 300px;
}
