<div class="example-container" >
    <mat-toolbar color="primary" class="example-toolbar">
      <div class="tool-button">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon style="font-size: 30px;">menu</mat-icon></button>
      </div>
      <div class="toolbar-content">
        <div class="toolbar-content_image">
            <img src="image/logoPortalClient.png" alt="">
          </div>
      </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav>
        <mat-nav-list>
            <div class="content-sidenav">
                <div>
                    <div>
                        <span class="title-content">Pedidos</span>
                        <div class="line"></div>
                    </div>
                    <div class="content-sidenav__inf">
                        <div>
                            <mat-icon>edit</mat-icon>
                            <span><a href="">Criar</a></span>
                        </div>
                        <div>
                            <mat-icon>visibility</mat-icon>
                            <span><a href="">Ver</a></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span class="title-content">Suporte</span>
                        <div class="line"></div>
                    </div>
                    <div class="content-sidenav__inf">
                        <div>
                            <mat-icon>confirmation_number</mat-icon>
                            <span><a href="">Ticket</a></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span class="title-content">Outros</span>
                        <div class="line"></div>
                    </div>
                    <div class="content-sidenav__inf">
                        <div>
                            <mat-icon>logout</mat-icon>
                            <span><a href="">Sair do painel</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet name="portal-client-content"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  