<article>
  <h2 mat-dialog-title>Edite a informação</h2>
  <mat-dialog-content class="mat-form">
    <form (ngSubmit)="submitForm()" [formGroup]="formEditInformation">
      <mat-form-field appearance="outline" class="inputMat">
        <mat-label>Titulo</mat-label>
        <input formControlName="title" matInput required type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputMat">
        <mat-label>Conteúdo</mat-label>
        <input [(ngModel)]="inputValue" formControlName="content" matInput required type="text">
      </mat-form-field>
      <button (click)="addInformation()" type="button">Adicionar</button>
      <li *ngFor="let information of informationList">
        {{ information }}
      </li>
      <button mat-button type="submit">Salvar</button>
    </form>
  </mat-dialog-content>
</article>
