article{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}

.mat-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-form form label{
  display: flex;
  flex-direction: column;
}
