<div class="container-header">
    <div class="container-header__image">
        <img src="image/logo.png" alt="logo">
    </div>
    <div class="container-header__options">
        <div>
            <span>Sobre</span>
            <div class="option-line"></div>
        </div>
        <div>
            <span>Ferramenta</span>
            <div class="option-line"></div>
        </div>
        <div>
            <span>Planos</span>
            <div class="option-line"></div>
        </div>
        <div>
            <span>Dúvidas</span>
            <div class="option-line"></div>
        </div>
    </div>
    <div class="container-header__apps">
        <div>
            <span>Portal do cliete</span>
        </div>
        <div style="background-color: var(--tertiary-color);">
            <span>Portal de administração</span>
        </div>
    </div>
</div>
