section{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section span{
  font-size: 17px;
}

.demo-inline-calendar-card {
    width: 240px;
  }
