<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            background-color: #f4f4f4;
        }

        p {
            color: #666;
            margin-bottom: 20px;
        }

        img {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<p>Espero que esteja bem. Gostaria de informar que foi criado um pedido de pagamento relacionado a <b>[[${signatureDescription}]]</b>. Este pedido foi devidamente registrado em nosso sistema e está pronto para ser processado.</p>

<p><strong>Detalhes do Pedido de Pagamento:</strong></p>
<ul>
    <li><strong>CPF:</strong> [[${cpf}]]</li>
    <li><strong>Status:</strong> [[${paymentStatus}]]</li>
    <li><strong>Valor Total:</strong> [[${price}]]</li>
    <li><strong>Tipo de pagamento:</strong> [[${typePayment}]]</li>
    <li><strong>Data de Criação:</strong> [[${dateOpen}]]</li>
</ul>

<p>Por favor, verifique a aba de pedidos no site.</p>

<p>Agradeço desde já pela sua atenção e cooperação.</p>

<img src="https://raw.githubusercontent.com/guilhermevini2013/agendaki-Modules/master/notification/src/main/resources/static/logo.png"
     alt="logo">
<p class="signature">Atenciosamente,<br>A equipe <b>AgendaKi</b></p>
</body>
</html>