<article>
  <div class="container-example-template">
    <div class="container-example-template__card">
      <img src="" alt="">
    </div>
    <div class="container-example-template__inf">
      <div>
        <h1>Simples</h1>
      </div>
      <div style="text-align: justify">
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
      </div>
    </div>
  </div>
  <div class="container-example-template reverse">
    <div class="container-example-template__card">
      <img src="" alt="">
    </div>
    <div class="container-example-template__inf">
      <div>
        <h1>Com seu portfolio</h1>
      </div>
      <div style="text-align: justify">
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
      </div>
    </div>
  </div>
  <div class="container-example-template">
    <div class="container-example-template__card">
      <img src="" alt="">
    </div>
    <div class="container-example-template__inf">
      <div>
        <h1>Completo</h1>
      </div>
      <div style="text-align: justify">
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
      </div>
    </div>
  </div>
</article>
