<mat-tab-group animationDuration="0ms">
    <mat-tab label="Funcionário">
        <div class="FormGroups">
            <form [formGroup]="workerFormGroup" (ngSubmit)="createWorker()" class="secondFormGroup">
                <mat-form-field appearance="outline" >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Jucilano.." formControlName="name" required>
                </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Escolha" formControlName="idService" multiple>
                  <mat-option *ngFor="let service of services" [value]="service.id">{{service.name}}</mat-option>
                </mat-select>
              </mat-form-field>
                <div>
                  <button mat-button type="submit">Adicionar</button>
                </div>
            </form>
        </div>

    </mat-tab>
    <mat-tab label="Serviço">
        <div class="FormGroups">
            <form [formGroup]="serviceFormGroup" (ngSubmit)="createService()" class="secondFormGroup">
                <mat-form-field appearance="outline" >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Barba.." formControlName="name" required>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Preço</mat-label>
                    <input matInput placeholder="20.." mask="00.00" formControlName="price" required>
                </mat-form-field>
                <div class="slider">
                    <span>Escolhe o tempo do serviço</span>
                    <mat-slider min="5" max="120" step="5"  showTickMarks discrete>
                        <input matSliderThumb formControlName="time"/>
                    </mat-slider>
                </div>
                <div>
                  <button mat-button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>
