<mat-tab-group animationDuration="0ms">
    <mat-tab label="Funcionário">
        <div class="FormGroups">
            <form [formGroup]="workerFormGroup" (ngSubmit)="createWorker()" class="secondFormGroup">
                <mat-form-field appearance="outline" >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Jucilano.." formControlName="name" required>
                </mat-form-field>

                <div>
                  <button mat-button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
      
    </mat-tab>
    <mat-tab label="Serviço"> 
        <div class="FormGroups">
            <form [formGroup]="serviceFormGroup" (ngSubmit)="createService()" class="secondFormGroup">
                <mat-form-field appearance="outline" >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Barba.." formControlName="name" required>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Preço</mat-label>
                    <input matInput placeholder="20.." mask="00.00" formControlName="name" required>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Tempo</mat-label>
                    <input matInput placeholder="20.." mask="00:00" formControlName="name" required>
                </mat-form-field>

                <div>
                  <button mat-button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Atribuir">
        <div class="FormGroups">
            <form [formGroup]="workerFormGroup" (ngSubmit)="createWorker()" class="secondFormGroup">
                <mat-form-field appearance="outline">
                    <mat-label>Funcionário</mat-label>
                    <mat-select>
                      <mat-option value="one">Adailson</mat-option>
                      <mat-option value="two">Jucinária</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Serviço</mat-label>
                    <mat-select>
                      <mat-option value="one">Corte: Barba</mat-option>
                      <mat-option value="two">Corte: Cabelo</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div>
                  <button mat-button type="submit">Atribuir</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>