<div class="content">
  <div class="Cards">
    <div class="formOptionsCard">
      <h1>{{ weekName }}</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>

      <form [formGroup]="firstFormGroup" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button [checked]="dayOfWeekInf?.isOpen" value="1">Trabalho</mat-radio-button>
          <mat-radio-button (change)="alterDayOfWeek(false)" [checked]="!dayOfWeekInf?.isOpen" value="2">Não Trabalho
          </mat-radio-button>
        </mat-radio-group>
      </form>
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form (ngSubmit)="alterDayOfWeek(true)" [formGroup]="secondFormGroup" class="secondFormGroup">
          <mat-form-field appearance="outline">
            <mat-label>Inicio Expediente</mat-label>
            <input formControlName="startWork" mask="00:00" matInput minlength="4" placeholder="00:00" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fim Expediente</mat-label>
            <input formControlName="endWork" mask="00:00" matInput minlength="4" placeholder="00:00" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input formControlName="startOffHour" mask="00:00" matInput minlength="4" placeholder="00:00" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input formControlName="endOffHour" mask="00:00" matInput minlength="4" placeholder="00:00" required>
          </mat-form-field>
          <div>
            <button mat-button type="submit">Salvar</button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
