<div class="title-page">
  <h1>Informe os dias que trabalha</h1>
</div>

<div class="content">
  <div class="Cards">
    <app-week-card weekName="Segunda"></app-week-card>
    <app-week-card weekName="Terça"></app-week-card>
    <app-week-card weekName="Quarta"></app-week-card>
    <app-week-card weekName="Quinta"></app-week-card>
    <app-week-card weekName="Sexta"></app-week-card>
    <app-week-card weekName="Sábado"></app-week-card>
    <app-week-card weekName="Domingo"></app-week-card>
  </div>
  
</div>