<div class="content">
  <div class="Cards">
    <div class="formOptionsCard">
      <h1>Segunda</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupMonday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupMonday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Terça</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupTuesday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupTuesday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Quarta</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupWednesday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupWednesday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Quinta</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupThursday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupThursday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Sexta</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupFriday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupFriday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Sábado</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupSaturday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupSaturday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
  
    <div class="formOptionsCard">
      <h1>Domingo</h1>
      <div class="card_side"></div>
      <span class="formOptionsCardText"></span>
      <form [formGroup]="firstFormGroupSunday" class="firstFormGroup">
        <mat-radio-group aria-label="Select an option" formControlName="doWork">
          <mat-radio-button value="1">Trabalho</mat-radio-button>
          <mat-radio-button value="2">Não Trabalho</mat-radio-button>
        </mat-radio-group>  
      </form>
  
      <ng-template [ngIf]="checkIfWork() == '1'">
        <form [formGroup]="secondFormGroupSunday" class="secondFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Inicio Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" >
            <mat-label>Fim Expediente</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="endWork" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Inicio Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00" formControlName="startOffHour" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fim Almoço</mat-label>
            <input matInput placeholder="00:00" mask="00:00"  formControlName="endOffHour" required>
          </mat-form-field>
        </form>
      </ng-template>
  
      <div>
        <button mat-button>Salvar</button>
      </div>
    </div>
    
  </div>
  
</div>