<article>
  <h2 mat-dialog-title>Edite a apresentação</h2>
  <mat-dialog-content class="mat-form">
    <form (ngSubmit)="submitForm()" [formGroup]="formEditPerfil">
      <label>
        <span>Selecione a foto de apresentação:</span>
        <input (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg" type="file"/>
      </label>

      <mat-form-field appearance="outline" class="inputMat">
        <mat-label>Escolha o titulo</mat-label>
        <input formControlName="text" matInput required type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="inputMat">
        <mat-label>Escolha o text</mat-label>
        <input formControlName="paragraph" matInput required type="text">
      </mat-form-field>

      <button mat-button type="submit">Salvar</button>
    </form>
  </mat-dialog-content>
</article>
